@model CookBook.PL.Models.RecipeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model.Composition ?? null,
        defaultSort: "Name",
        rowsPerPage: 5);
    grid.Pager(WebGridPagerModes.All);
}


<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Recipe editing</span>
</h2>
<div>
    @grid.GetHtml(
             tableStyle: "table table-bordered",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             alternatingRowStyle: "webgrid-alternating-row",
             rowStyle: "webgrid-row-style",
             columns: grid.Columns(
             grid.Column(format: @<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
                  grid.Column(columnName: "IngredientName", header: "Name", canSort: false),
                  grid.Column(columnName: "Quantity", header: "Quantity", canSort: false)))
</div>

@Html.Partial("AddComposition", new CookBook.PL.Models.CompositionViewModel { RecipeId = Model.Id})
