@model IEnumerable<CookBook.PL.Models.RecipeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ViewRecipeList";
    var grid = new WebGrid(source: Model,
        defaultSort: "Name",
        rowsPerPage: 5);
    grid.Pager(WebGridPagerModes.All);
}

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Список рецептов</span>
</h2>
@grid.GetHtml(
    tableStyle: "table table-bordered",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
        grid.Column(format: @<text><div>@(item.WebGrid.Rows.IndexOf(item) + 1)</div></text>),
                grid.Column(columnName: "Name", header: "Название", canSort: false),
                grid.Column(columnName: "User.Login", header: "Автор", canSort: false),
                grid.Column(columnName: "Category", header: "Категория", canSort: false),
                grid.Column(header: "Редактировать", format: (item) =>
                {
                    var link = Html.RouteLink("Редактировать", new { controller = "Recipe", action = "EditRecipe", id = item.id }, new { id = item.id });
                    return link;
                }),
                grid.Column(header: "Удалить", format: (item) =>
                {
                    var link = Html.RouteLink("Удалить", new { controller = "Recipe", action = "DeleteRecipe", id = item.id }, new { id = item.id });
                    return link;
                })
                ))


