@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Welcome <b>@HttpContext.Current.User.Identity.Name</b> !</span>
</h2>

<p>You can add, edit and delete recipes.</p>


