@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">Добро пожаловать!</span>
</h2>
<p>Вы можете добавлять рецепты, редактировать их и удалять созданные ранее.</p>



