
@{
    ViewBag.Title = "_Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="section-heading mb-4">
    <span class="section-heading-lower">@CookBook.PL.Resources.Names.ErrorName</span>
</h2>
<h2 class="text-danger">@CookBook.PL.Resources.InfoTexts.ErrorDescription</h2>
