.intro {
    position: relative;

    @media (min-width: 300px) {
        .intro-img {
            width: 75%;
            float: right;
        }

        .intro-text {
            left: 0;
            width: 60%;
            margin: 10px;
            position: absolute;

            .intro-button {
                width: 100%;
                left: 0;
                margin-top: 50px;
            }
        }
    }

    @media (min-width: 1200px) {
        .intro-text {
            width: 45%;
        }
    }
}
